TILESERVER_PORT=8080
VIEWER_PORT=8081

TILESERVER_IMAGE=maptiler/tileserver-gl:latest
PLANETILER_IMAGE=ghcr.io/onthegomap/planetiler:latest

OSM_PBF=data/input/source.osm.pbf
VECTOR_MBTILES=data/mbtiles/osm-vector.mbtiles
PLANETILER_JAVA_OPTS=-Xmx4g

